/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body:not(h1) {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200;
    margin: 0 auto;
}

/* Utilities */

h1 {
    font-family: "Nerko One", cursive;
    color: #FF9613;
}

.row {
    display: flex;
}