/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F6F5F3;
    
}

.container {
    max-width: 1200;
    margin: 0 auto;
    padding: 15px;
}

.container-s {
    padding: 20px;
    background-color: #F6F5F9;
    margin: 20px 0;
}

.container-m {
    padding: 0 20px;
    background-color: white;
}

/* Utilities */

h1 {
    font-family: "Nerko One", cursive;
    color: #FF9613;
    text-align: center;
    background-color: white;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #493468;
}

.row {
    display: flex;
}

.card {
    background-color: white;
    margin-top: 20px
}


/* Recipe-top */
/* Category */

.desserts {
    padding: 10px 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
}

/* Recipe-top */
/* Recipe top flex */

.recipe-top {
    flex-direction: column;
}

.recipe-title {
    justify-content: space-between;
    align-items: center;
}

.card {
    flex-direction: column;
}

/* Recipe top */
/* Recipe title */

.rate-button {
    text-transform: uppercase;
    color: white;
    background-color: #FF9613;
    border-radius: 20px;
    padding: 8px 10px;
    margin-left: 5px;
}

/* Recipe top */
/* Recipe video */

iframe {
    width: 100%;
    height: 250px;
}

/* Recipe top */
/* Recipe info top */

.recipe-info {
    font-size: 0.8rem;
}

.recipe-info-top {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.recipe-calories {
    color: white;
    font-weight: bold;
    background-color: #7C69A4;
    padding: 5px;
    border-radius: 5px;
}

.recipe-info-button {
    color: #FF9613;
    font-weight: 700;
}

.recipe-info-bottom {
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 600;
}

/* Recipe top */
/* Recipe characteristic */

.recipe-characteristic ul {
    margin: 0 0 20px 20px;
    --fa-li-margin: 20px;
}

.recipe-characteristic li {
    line-height: 2rem;
}

/* Recipe top */
/* Recipe Social */

.social {
    margin: 20px 0
}

.social-list-flex {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social ul {
    list-style-type: none;
}

.social li {
    display: inline;
}

.icon {
    background-color: white;
    padding: 10px 15px;
    border-radius: 40%;
    margin: 10px 0 20px 0;
}

/* Recipe top */
/* Banner */

.advertising {
    display: none;
}


/* Recipe down */
/* Presentation */

.img-presentation {
    width: 80%;
    position: relative;
    top: 0;
    left: 50px;
    margin-bottom: 10px;
}

.copy-presentation {
    line-height: 1.8rem;
    font-size: 0.8rem;
}


/* Footer */

footer {
    background-color: #7C69A4;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-size: 0.8rem;
}

footer > * {
    padding: 5px;
}

.copyright {
    font-weight: bold;
}

.address {
    color: lightgray;
}

.footer-list {
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    gap: 10px;
}

.footer-list li {
    flex-grow: 1;
}

.footer-list a {
    color: lightgray;
}



/* Media query table */

@media screen and (min-width: 768px) {
    
    /* General */

    .container {
        padding: 30px;
    }


    /* Utilities */

    h1 {
        text-align: left;
        padding-left: 10px;
    }

    h4 {
        font-size: 1.8rem;
    }

    h4::after {
        content: ' (dolce tradizionale)';
        text-transform: capitalize;
    }

    
    /* Recipe top */
    /* Recipe characteristic */

    .characteristic-list-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .characteristic-list-flex li {
        flex-basis: calc(100% / 3 - 20px);
    }

    /* Recipe top */
    /* Social */

    .icon {
        background-color: white;
        padding: 10px 50px;
        border-radius: 30px;
        margin: 10px 0 20px 0;
    }

    /* Recipe top */
    /* Banner */

    .advertising {
        display: block;
    }

}


/* Media query desktop */

@media screen and (min-width: 992px) {

    /* Utilities */

    h1 {
        font-size: 2rem;
    }


    /* Recipe top */
    /* Recipe video + info top */

    .card {
        flex-direction: row;
        background-color: white;
    }

    .recipe-video {
        flex-basis: 60%;
    }

    .recipe-info {
        flex-basis: 40%;
    }

    /* Recipe video + info top */
    /* Recipe characteristic */

    .characteristic-list-flex {
        flex-direction: column;
        gap: 0px;
    }

    /* Recipe top */
    /* Social */

    .icon {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 0.7rem;
    }

    .facebook::after {
        content: 'facebook';
    }

    .twitter::after {
        content: 'twitter';
    }

    .instagram::after {
        content: 'instagram';
    }

    .pinterest::after {
        content: 'pinterest';
    }

    .youtube::after {
        content: 'youtube';
    }
}